.product-container {
  width: 280px;
  height: 500px;
  margin: 39px 30px;
}

.card {
  border-radius: 25px;
  /* Night: box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3); */
}

.card-head {
  position: relative;
  height: 252px;
  /* background: #fa782e; */ /* Old browsers */
  /* background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  background: linear-gradient(
    135deg,
    #fa782e 8%,
    #c82930 83%
  ); */ /*radial-gradient(939px at 94.7% 50%, rgb(0, 178, 169) 0%, rgb(0, 106, 101) 76.9%)*/ /*linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%)*/
  background-color: #fff;
  border-radius: 25px 25px 0 0;
  text-align: center;
  padding-top: 20px;
}

.free-shipping {
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  padding: 7px;
  font-size: 0.8em;
  background-color: rgb(27, 26, 32);
  border-radius: 0 15px 0 0;
}

.product-details {
  padding: 0 20px;
  color: black; /* Night: #fff; */
  text-align: center;
}

.product-details h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.back-text {
  display: inline-block;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}

.card-body {
  height: 275px;
  background: #fff;

  border-radius: 0 0 25px 25px;
}

.product-title {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.new-badge {
  position: relative;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  background: #0bc149;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  color: #444;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
  margin-top: 5px;
  display: inline-block;
}

.product-rating i.grey {
  color: #acacab;
}

.product-size {
  margin: 20px 0;
}

.product-size li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  font-size: 11px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  cursor: pointer;
  opacity: 0.6;
}

.product-size li.active {
  background: #f35e3d;
  color: #fff;
  opacity: 1;
}

.product-size li:hover {
  background: #f35e3d;
}

.product-size:before,
.product-size:after {
  content: "";
  display: block;
  clear: both;
}

.product-color {
  padding: 0 21px;
  margin: 20px 0 20px 70px;
  text-transform: uppercase;
}

.product-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0.6;
}

.product-color li.orange {
  background: #f35e3d;
  color: #f35e3d;
}

.product-color li.green {
  background: #11e95b;
  color: #11e95b;
}

.product-color li.yellow {
  background: #ffd414;
  color: #ffd414;
}

.product-color li.active {
  opacity: 1;
}

.product-color li.active:after,
.product-color li:hover:after {
  position: absolute;
  content: "";
  display: inline-block;
  border: 1px solid;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}

.product-price {
  text-align: center;
  font-size: 21px;
  font-weight: 200;
  margin-top: 53px;
}

.product-price button {
  /* box-shadow: -10px 20px 15px -10px rgb(27 26 32 / 30%); */
  background: linear-gradient(
    135deg,
    #fa782e 8%,
    #c82930 83%
  ); /*Night: rgb(27, 26, 32); */ /* Green:#0bc149 */
  color: #fff;
  display: inline-block;
  padding: 7px 11px;
  font-size: 23px;
  font-weight: bold;
}

.product-price .price {
  padding: 7px;
  color: #f9dd65 /* #ffda36 */
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.cart-with-quantinty{
  display: inline-block;
  animation: tilt-shaking 1.5s infinite;
}

.product-price .quantity {
  color: black;
  position: absolute;
  right: 21px;
  top: 2px;
  font-size: 17px;
}

.product-price svg {
  width: 40px;
  margin: -7px 10px -13px 0;
}

.product-price .minus {
  border-radius: 7px 0 0 7px;
}

.product-price .piasters {
  font-weight: 100;
}

.product-price .plus {
  border-radius: 0 7px 7px 0;
}

.in-active{opacity: .6;}